<div class="card card-body p-4 rounded-0 bg-dark text-white">
                <form action="/event/add"  method="POST">
                    <h2>Eventos</h2>
                    <div>
                        <p><label>Nombre del evento:</label></p>
                        <input type="text" name="nombreEvento" id="nombreEvento" class="insertext">
                    </div>
                    
                    <div>
                    <p><label>Fecha:</label></p>
                    <input type="date" name="fecha" id="fecha" class="insertext">
                    </div>
                    <div>
                        <p><label>Placa:</label></p>
                    <input type="text" name="placa" id="placa"class="insertext">

                    </div>
                    
                    
                      <p>
                      <button class="btn btn-primary btn-sm mt-2">Agregar</button>
                    </p>
              </form>
              
            </div>
        