
<div class="card card-body p-4 rounded-0 bg-dark text-white rounded">
  <form action="/tasks/add" method="POST">
  <h3>Agregar un auto</h3>
  <br>
  <div>
    <label for="propietario">Nombre Propietario:</label>
    <input name="propietario" id="propietario"  class="form-control rounded-0 bg-dark text-white" placeholder="Escribir placa del auto"></input>
  </div>
  <div>
    <label for="pais">País:</label>
    <input name="pais" id="pais"  class="form-control rounded-0 bg-dark text-white" placeholder="Escribir placa del auto"></input>
  </div>
  
  <div>
    <label for="placa">Placa:</label>
    <input name="placa" id="placa"  class="form-control rounded-0 bg-dark text-white" placeholder="Escribir placa del auto"></input>
  </div>
  <div>
    <label for="marca">Marca:</label>
    <input name="marca" id="marca" class="form-control rounded-0 bg-dark text-white" placeholder="Escribir Marca del auto"></input>
  </div>
  <div>
    <label for="modelo">Modelo:</label>
    <input name="modelo" id="modelo" class="form-control rounded-0 bg-dark text-white" placeholder="Escribir Modelo del auto" ></input>
  </div>
  <div>
    <label for="color">Color:</label>
    <input name="color" id="color" class="form-control rounded-0 bg-dark text-white" placeholder="Escribir color del auto" ></input>
  </div>
  <div>
    <label for="valor">Valor:</label>
    <input type="number" name="valor" id="valor" class="form-control rounded-0 bg-dark text-white" placeholder="Escribir valor del auto" ></input>
  </div>
    <input type="hidden" name="comprar" id="comprar" value="false"></input>
    <br>
    |<button class="btn btn-primary btn-sm mt-2">Agregar</button>
  </div>
  

 
 

</form>

</div>