<div class="container">
    <div class="row">
        <div class="col-md-3">
         {{> tasks/taskForm}}
        </div>
        
            <br>
        <div  style="margin:-620px 0px 0px 400px;">
            {{> tasks/taskTable}}
        </div>
         
    </div>
    
</div>

<br>
<div style="margin:500px 0px 0px 0px;">{{> footer}}</div>

 


