<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a href="/" class="navbar-brand">Proyecto Autos Antigüo BD2</a>
  </div>
  <div><a href="/" class="navbar-brand">Autos</a></div>
  <div><a href="/event" class="navbar-brand">Eventos</a></div>



</nav>